<div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <header>
    <mat-toolbar>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <h1>Operations</h1>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><button mat-raised-button="" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button></div>
    </mat-toolbar>
  </header>
  <mat-sidenav-container>
    <mat-sidenav #sidenav="" style="height: 60%; background-color: black; width: 30%;" mode="push" position="right">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <h2>Home</h2>
      </div>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>