<div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <mat-card fxLayoutAlign="center center" ngClass.sm="formHeight" ngClass.xs="formHeight" class="formCard">
    <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false">
        <h1>Flight Information</h1>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false">
        <h3>Fields marked with an <span style="color:red">*</span> are required</h3>
      </div>
      <form #GHChecklist="ngForm">
        <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" fxLayout.sm="column" fxLayout.xs="column">
            <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="center center" fxShow="true" fxHide="false">
              <mat-form-field><input matInput="" [(ngModel)]="flight.airlines" name="airlines" type="text" placeholder="Airlines" required ngModel="" pattern="[a-zA-Z]*"></mat-form-field>
            </div>
            <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="center center" fxShow="true" fxHide="false">
              <mat-form-field><input matInput="" [(ngModel)]="flight.ticket_number" name="ticket" type="text" placeholder="Ticket Number" required ngModel="" pattern="[a-zA-Z0-9]*"></mat-form-field>
            </div>
          </div>
          <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" fxLayout.sm="column" fxLayout.xs="column">
            <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="center center" fxShow="true" fxHide="false">
              <mat-form-field><input matInput="" [(ngModel)]="flight.arrival" name="arrival" type="time" placeholder="Arrival Time" required></mat-form-field>
            </div>
            <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="center center" fxShow="true" fxHide="false">
              <mat-form-field><input matInput="" [(ngModel)]="flight.departure" name="departure" type="time" placeholder="Departure Time" required></mat-form-field>
            </div>
          </div>
          <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" fxShow="true" fxHide="false"><button mat-raised-button="" [disabled]="!GHChecklist.valid" (click)="submit()">Submit</button></div>
        </div>
      </form>
    </div>
  </mat-card>
</div>