<div fxLayout="column wrap" style="padding: 25px;" fxFlex="100" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly stretch" fxShow="true" fxHide="false">
    <mat-card *ngFor="let policies of policy" (click)="viewPolicy(policies)" fxFlex="30" fxFlex.sm="49" fxFlex.xs="100" class="policiesCard">
      <mat-card-content>
        <mat-card-title>{{ policies.title }}</mat-card-title>
        <h4>Category: {{ policies.category }}</h4>
      </mat-card-content>
    </mat-card>
  </div>
</div>