/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

.login-card .mat-card-image:first-child {
    margin-top:0 !important
}

.primary-red-btn {
    background-color: #ee1c22;
    color: white;
}

mat-grid-tile {
  background: lightblue;
}

.policyCard {
    width: 16%;
    margin: 5px 2% 20px 0;
    line-height: 0;
    padding: 5px 0;
}
.policyCardRow {
    width: 90%;
    margin: 0 auto;
    padding-left: 4%;
    box-sizing: border-box;
}