/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

.login-card .mat-card-image:first-child {
    margin-top:0 !important
}

.primary-red-btn {
    background-color: #ee1c22;
    color: white;
}
.navbar-nav {
    text-decoration: none; 
    margin: 10px 0;
    color: red;
}
// login page
.login-card .mat-card-image:first-child {
    margin-top:0 !important
}

.primary-red-btn {
    background-color: #ee1c22;
    color: white;
}

// home page
.home {
    box-sizing: border-box;
    padding: 10px;
    background: url('assets/web/homeBg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
.homeToolBar {
    background:transparent;
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 35px 0 !important;
    width: 95% !important;
}
.homeSidenavContainer {
    height: 87vh;
    top: 5vh;
    width: 100%;
    background: transparent;
}
.homeDesktopLinks .mat-raised-button {
    font-size: 2em;
    line-height: 1.5em !important;
    background:  rgba(255, 0, 0, 0.6) !important;
    color: white;
    margin: 0 2em;
    width: 65%;
    border-radius: 5px;
    padding: 10px 0;
}
.homeDesktopLinks .mat-raised-button:hover {
    color: #b71c1c !important;
    background: white !important;
}
.homeLinkBtnSm {
    width: 100% !important;
    margin-bottom: 2em !important;
} 
.homeLinkBtnXs {
    width: 70% !important;
    margin-bottom: 1em !important;
    font-size: 20px;
} 
.homeMenuSmallBtn {
    background: red !important;
    padding: 3px !important;
    border-radius: 42px;
    display: block;
    min-width: 40px !important;
}
.homeMenuSmallBtn:hover {
    background: white !important;
}
.homeMenuSmallBtn:hover  mat-icon {
    color: red !important;
}
.homeMainLogoutBtn {
    color:white; 
    font-weight:bold;
    background: transparent;
    border: solid 2px white !important;
    border-radius: 5px;
}
.homeMainLogoutBtn:hover {
    color:red; 
    border: solid 2px red !important;
}
.homeParag {
    width: 65% !important;
    margin: 0 auto !important;
}
.mat-drawer {
    background-color: transparent;
}
.mat-drawer .mat-raised-button {
    background-color: #b71c1c;
    margin: 3px 3px;
    color: white;
}
.mat-drawer .mat-raised-button:hover {
    background-color: white;
    color: #b71c1c;
}
// Search
.search-form {
    min-width: 150px;
    max-width: 100%;
    width: 70%;
}
.search-full-width {
    width: 100%;
    background-color: transparent;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 0 20px;
    color: white;
}
.mat-autocomplete-panel {
    width: 100%;
    background-color: #b71c1c;
}
.mat-option-text {
    color: white;
    font-weight: bold;
}
.mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover):not(.mat-option-disabled) {
    background: grey;
}
// Change the input style
.mat-form-field-label {
    color: white !important;
}
.mat-focused .mat-form-field-label {
    color: red !important;
}
.mat-form-field-underline {
    background-color: red !important;
 } 
.mat-form-field-ripple {
   background-color: white !important;;
} 
// login remember me checkbox color
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: red;
}
.mat-checkbox-frame {
    border-color: white;
}
// Menu Content
.menuContent {
    height: 85vh !important;
    margin-top: 10vh !important;
    color: white;
    width: 100%;
}
// Operations Icons
.operationsIconsRow {
    width: 98% !important;
}
.cardSM {
    margin-bottom: 3%;
}
.cardXS {
    margin-bottom: 2%;
}
.otherservicesCardsContainer {
    height: 50vh;
    overflow: auto;
}
.otherServiceCards {
    background: rgba(255, 0, 0, 0.6);
    height: 280px;
    border-radius: 48px;
    margin-bottom: 2%;
}
.otherServiceCards:hover {
    background: red;
}
// Scroll Bar
::-webkit-scrollbar {
    display: none;
}
// My Forms
.formCard {
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
    width: 90%;
    margin: 0 auto;
}
.formCard .mat-form-field-infix {
    width: 22em !important;
}
.changeColor .mat-option-0 .mat-option-1 .mat-option-2 {
    background: yellow;
}
.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
    background: red;
}
.mat-icon-button {
    color: white;
}
.formWidth .mat-form-field-infix {
    width: 42vh !important;
}
// Policies .otherServiceCards
.policiesCard {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    margin-bottom: 2%;
    box-shadow: 0px 2px 2px rgba(255, 0, 0, 0.5) !important;
}
.policiesCard:hover {
    background: rgba(255, 0, 0, 0.5) !important;
    box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.5) !important;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: red;
}

// My Tabs
.mat-tab-group {
    height: 82vh;
    overflow: auto;
    background: rgba(0, 0, 0, 0.4);
}
.mat-tab-body-wrapper {
    width: 95%;
    margin: 2% auto;
    background: rgba(0, 0, 0, 0.5) !important;
    color: white !important;
}
.policyCard, .mat-tab-body-wrapper .mat-raised-button {
    background: white !important;
    color: red !important;
}
.policyCard, .mat-tab-body-wrapper .mat-raised-button:hover {
    background: none !important;
    // border: white 2px solid !important;
    color: white !important;
}
.mat-tab-label {
    color: white !important;
}

// For screens with a maximum width of 415px
@media only screen and (max-width: 415px){
    .formWidth {
        padding-top: 56vh !important;
    }
    .formWidth .mat-form-field-infix {
        width: 32vh !important;
    }
    .formCard .mat-form-field-infix {
        width: 270px !important;
    }
}
// For screens with a maximum width of 599px
@media only screen and (max-width: 599px){
    .emptyRow {
        height: 250px !important;
    }
    .search-full-width {
        padding: 0 !important;
    }
}
// For screens with a maximum width of 768px
@media only screen and (max-width: 768px){
    .formWidth .mat-form-field-infix {
        height: 81vh !important;
        overflow: auto !important;
        padding-top: 0vh !important;
    }
}
// For screens with a maximum width of 959px
@media only screen and (max-width: 959px){
    .emptyRow {
        height: 250px !important;
    }
}

//=============================================================================================
// </Home component>
//=============================================================================================