<div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <mat-tab-group>
    <mat-tab label="Policy">
      <div fxLayout="column wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false">
        <mat-card class="policyCard">
          <mat-card-title>{{ selectedPolicy.title }}</mat-card-title>
          <mat-card-content>
            <p>{{ selectedPolicy.content }}</p>
          </mat-card-content>
          <mat-card-actions><button mat-raised-button="" (click)="goBack()">
              <mat-icon>arrow_back</mat-icon>
            </button></mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Procedure"></mat-tab>
  </mat-tab-group>
</div>