<div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <mat-card>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <h4></h4>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"></div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"></div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"></div>
        </div>
      </div>
    </mat-card>
    <mat-card></mat-card>
    <mat-card></mat-card>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"></div>
</div>