<div fxLayout="column wrap" class="home" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <header>
    <mat-toolbar class="homeToolBar">
      <div fxLayout="column wrap" fxFlex="20" fxLayoutAlign="start none" fxShow="true" fxHide="false" fxFlex.sm="30" fxFlex.xs="40"><img imgSrc="Web/homelogo.png" routerLink="/home"></div>
      <div fxLayout="column wrap" fxFlex="80" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <div fxLayout="row wrap" fxLayoutAlign="end stretch" fxShow="true" fxHide="false"><button mat-button="" style="background:white;padding:10px;border-radius:50%;" class="homeMenuSmallBtn" fxHide="true" fxShow.sm="true" fxShow.xs="true" (click)="sidenav.toggle();">
            <mat-icon style="color:white;">menu</mat-icon>
          </button><button mat-raised-button="" class="homeMainLogoutBtn" fxHide.sm="true" fxHide.xs="true" fxShow="true" (click)="logoutUser()">Logout</button></div>
      </div>
    </mat-toolbar>
  </header>
  <div fxLayout="column wrap" style="color:white;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <div fxLayout="row wrap" style="height: 100px" class="emptyRow" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"></div>
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" fxShow="true" fxHide="false">
      <h1 style="font-size: 5em;">Hello <i>user</i></h1>
    </div>
    <div fxLayout="row wrap" class="homeDesktopLinks" fxFlex="100" fxLayoutAlign="center center" fxShow="true" fxHide="false"><button mat-raised-button="" routerLink="/human-resource">Human Resource</button><button mat-raised-button="" routerLink="/operations/operation">Operations</button></div>
  </div>
</div>