<div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="center center" fxShow="true" fxHide="false">
  <form [formGroup]="stateForm">
    <mat-form-field>
      <input type="text" matInput="" placeholder="Search" formControlName="stateGroup" required [matAutocomplete]="autoGroup">
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter" (click)="nav(group)">
          <mat-option *ngFor="let name of group.names" [value]="name">
            {{name.title}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>