<div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <mat-card ngClass.sm="formHeight" ngClass.xs="formHeight" fxLayoutAlign="center center" class="formCard">
    <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <h1>Transport Requests</h1>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <h3>Please ensure that all bookings are made 24 hours in advance.</h3>
      </div>
      <form #transport="ngForm">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <mat-form-field><input matInput="" placeholder="Choose a Date" [matDatepicker]="picker" [(ngModel)]="transport.date" name="date">
            <mat-datepicker-toggle matSuffix="" [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker=""></mat-datepicker>
          </mat-form-field>
        </div>
      </form>
    </div>
  </mat-card>
</div>