<div fxLayout="column wrap" class="home" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <header>
    <mat-toolbar class="homeToolBar">
      <div fxLayout="column wrap" fxFlex="20" fxLayoutAlign="start none" fxShow="true" fxHide="false" fxFlex.sm="30" fxFlex.xs="40"><img imgSrc="Web/homelogo.png" routerLink="/home"></div>
      <div fxLayout="column wrap" fxFlex="80" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <div fxLayout="row wrap" fxLayoutAlign="end stretch" fxShow="true" fxHide="false"><button mat-button="" style="background:white;padding:10px;border-radius:50%;" class="homeMenuSmallBtn" fxShow="true" (click)="sidenav.toggle();">
            <mat-icon style="color:white;">menu</mat-icon>
          </button></div>
      </div>
    </mat-toolbar>
  </header>
  <div fxLayout="column wrap" style="color:white;height: 100%;" fxLayoutAlign="center center" fxShow="true" fxHide="false">
    <mat-sidenav-container class="homeSidenavContainer">
      <mat-sidenav #sidenav="" mode="over">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><button mat-raised-button="" routerLink="{{link.link}}" *ngFor="let link of BtnRoutes">{{link.name}}</button><button mat-raised-button="" class="homeMainLogoutBtn" (click)="logoutUser()">Logout</button></div>
      </mat-sidenav>
      <router-outlet></router-outlet>
    </mat-sidenav-container>
  </div>
</div>