<mat-card class="card">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="center center" fxShow="true" fxHide="false">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <h3>Contact Us</h3>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <p>Email : ideas@neutrinos.co</p>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <p>Phone: India (+91) &#x2013; 80 &#x2013; 4171 &#x2013; 8111<br><br>Singapore (+65) &#x2013; 3159 &#x2013; 0694<br><br>South Africa (+27)- 1188-61707</p>
    </div>
  </div>
</mat-card>